.git
.github
.local
.mypy_cache
.pytest_cache
.ruff_cache
.venv
__pycache__/
*.egg-info
*.py[cod]
*.so
apps/web/frontend/.next
apps/web/frontend/node_modules

charts/
docs/
infra/examples/
requirements/
tests/
